Flask==3.0.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.23
Werkzeug==3.0.1
python-dotenv==1.0.0
eventlet==0.34.3
Pillow==10.1.0
gunicorn==21.2.0
email-validator==2.1.0
phonenumbers==8.13.0
opencv-python==4.8.1.78
numpy==1.24.3
# dlib==19.24.2
scipy==1.11.3
